{% extends "main.html" %}
{% if title %}
   {% block title %}{{ title }}{% endblock %}
{% endif %}

{% block content %}
<style>
    img {
    margin-top: 20px;
    }

    .textColumn{
    }
    .miniFooter{
        margin-top: 4em;
    }

    .textInfo{
    text-align: left;
    padding: 15px;
    font-size: 0.8em;
    }

    .container{
    display: flex;
    width: 800px;
    position: relative;
    left: 20%;

    }

</style>
<div class="container">
    <img alt="Greg.gif" src="{{url_for('static', filename='megif.gif')}}">
    <div class="textColumn">
        <div class="textInfo">
            <br>
            This web was meant to generate gif of mozaics.
            <br>
            It replaces every pixel of source image with emoji.
            <br>
            Afterwards gif is created from mozaic.
            <br>
            To avoid spam, there is limit of 10 pics every hour.
            <br>
        </div>
        <div class="miniFooter">
            <h5>And this is me, on your left, have fun.</h5>
        </div>
    </div>
</div>
{% endblock %}

{% if head %}
    {% block head %}{{ head }}{% endblock %}
{% endif %}

