{% extends "main.html" %}
{% block style %}
    {{ super() }}
<style>
    .clock-row{
        display: flex;
        justify-content: center;
    }
    .clock-row span{
    width: 250px;
    }
</style>
{% endblock %}
{% block title %} Home {% endblock %}
{% block header %}{% endblock %}
{% block content %}


<div class="clock-row">
    <canvas id="canvas12h" height="250" width="250">
        <script type="text/javascript" src="{{ url_for('static', filename='js/clock12.js') }}"></script>
    </canvas>
    <canvas id="canvas24h" height="250" width="250">
        <script type="text/javascript" src="{{ url_for('static', filename='js/clock24.js') }}"></script>
    </canvas>
    <canvas id="canvas8h" height="250" width="250">
        <script type="text/javascript" src="{{ url_for('static', filename='js/clock8.js') }}"></script>
    </canvas>
    <canvas id="canvas10h" height="250" width="250">
        <script type="text/javascript" src="{{ url_for('static', filename='js/clock10.js') }}"></script>
    </canvas>
</div>
<div class="clock-row">
    <span>Clock 12</span>
    <span>Clock 24</span>
    <span>Clock 8</span>
    <span>Clock 10</span>
</div>
{% endblock %}