<!DOCTYPE html>
<html lang="en">

<!--    <link rel="stylesheet" href="static/style.css">-->
    <div class="navbar" id="myTopnav">
      <a href="/home" class="active">Home</a>
      <a href="{{ url_for('save')}}">New Image</a>
      <a href="{{ url_for('results')}}">Results</a>
<!--      <a href="#contact">Contact</a>-->
      <a href="{{ url_for('about') }}">About</a>
      test TEST, NEW
<!--      <a href="javascript:void(0);" class="icon" onclick="myFunction()">-->
<!--        <i class="fa fa-bars"></i>-->
<!--          javascript-->
<!--      </a>-->
    </div>
    <head>
        {% block style %}
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        {% endblock %}
        <title>ZoomIt - {% block title %} Gif maker{% endblock %}</title>
        <meta charset="UTF-8">
        {% block head %}{% endblock %}

    </head>
        <body>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <div class="footer">
                {% block footer %}
                    Made by Greg, <a href="https://github.com/GrzegorzKrug">Github</a>.
                {% endblock %}
            </div>
            <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
        </body>
</html>