{% extends "main.html" %}


{% block title %}
Processing
{% endblock %}

{% block content %}
  {% if token %}
  <script id="redirect" src="{{ url_for('static', filename='js/redirectScript.js') }}">
  </script>
  <body id='runscritp' onload="DelayedRedirect(30, '{{ url_for('gif', token=token, jobid=jobid) }}' );"></body>

  <h3>Your image was accepted.</h3>
  <br>
  Average processing time is 1min. You will be redirected after 30s.
  {% else %}
      Sorry, your request has been rejected.
  {% endif %}
{% endblock %}