{% extends "main.html" %}
{% block style %}
    {{ super() }}
    <style>
        #submitBt {
        visibility: hidden;
        }
        #validationTextField {
        font-weight: 1000;
        font-Family: Verdana;
        text-shadow: 1px 1px rgb(0,0,0);
        }
    </style>
{% endblock %}

{% block header %}
    {% if header_text %}
        {{ header_text }}
    {% else %}
        Upload your image.
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">

  <form action='{{ url_for("validate_image") }}'
        method="POST" enctype="multipart/form-data"
        onchange="ValidateFileIfImage()"  >
    <div class="form-group">
        <input type="file"
               class="custom-file-input"
               name="upImage"
               id="upImage">
    </div>
      <script id="validateFile" src="{{ url_for('static', filename='js/validateFile.js') }}">
      </script>
    <p id="validationTextField"></p>
    <button id="submitBt" type="submit" class="btn btn-primary">Confirm</button>

  </form>

</div>
{% endblock %}
