{% extends "main.html" %}
{% block style %}
    {{ super() }}
    <style>
        #submitBt {
        visibility: hidden;
        }
        .header{
          color: rgb(105,155,255);
          text-shadow: 0 0 15px rgb(150,150,150);
        }
        #validationTextField {
        font-weight: 1000;
        font-Family: Verdana;
        text-shadow: 1px 1px rgb(0,0,0);
        }
        img {
            display: none;
        }
        .preview {
            margin: 20px;
        }

        #modeContainer{
          margin-top: 15px;
          display: grid;
          justify-content: center;
          align-content: start;
          grid-template-columns: 200px 350px;
        }
        #modeContainer > .gridElement{
          padding-top:    5px;
          padding-bottom: 5px;
          text-align: left;
        }

        #radioContainer{
          display: grid;
          justify-content: center;
          align-items: center;
          grid-column-gap: 1%;
          grid-template-columns: 170px 1300px;
          grid-row-gap: 15px;
        }

        .emojiSelect{
          margin: 5px;
          font-weight: 800;

        }

    </style>
{% endblock %}

{% block header %}
    {% if header_text %}
        {{ header_text }}
    {% else %}
    <h4>Upload your image.</h4>
    {% endif %}
{% endblock %}

{% block content %}

<div class="container">
  <form action='{{ url_for("validate_image") }}'
        method="POST" enctype="multipart/form-data"
        onchange="ValidateFileIfImage();"  >
    <div class="form-group">
        <input type="file"
               class="custom-file-input"
               name="upImage"
               id="upImage">

    </div>
    <div id="modeContainer"></div>
    <div id="barContainer"></div>

    <div id="radioContainer">
      <i class="emojiSelect" text-align='left'>Select emojis:</i>
      <div>Palette preview:</div>
    </div>
    <div class="preview">
        <img id="preview" alt="preview" onclick="PictureClicked();">
    </div>
    <p id="validationTextField"></p>
    <script id="validateScript" src="{{ url_for('static', filename='js/validateFile.js') }}"></script>
    <script id="createBarsScript" src="{{ url_for('static', filename='js/create_bars.js') }}"></script>
    <button id="submitBt" type="submit" class="btn btn-primary">Confirm</button>
  </form>

</div>
{% endblock %}
